<nav class="navbar navbar-default navbar-static-top navbar-imovel-web">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">ImovelWeb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="{% url 'real_state_buy_list' %}">Comprar</a></li>
                <li><a href="{% url 'real_state_rent_list' %}">Alugar</a></li>
                <li><a href="#">Anunciar</a></li>
                <li><a href="#">Entrar</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>