{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
    <link href="{% static 'css/real-state-list.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container">


    <div class="col-md-4 bread-box">
        <div class="col-md-12">
            <ol class="breadcrumb available-info">
                <li><a href="{% url 'home' %}">ImovelWeb</a></li>
                <li class="active">{{ action }}</li>
            </ol>
        </div>

        {% if object_list.count %}
        <div class="col-md-12">
            {#  ToDo: Implement Filter #}
        </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        <div class="row breadcrumb available-info">
            <p><b>{{ object_list.count }}</b> Imóveis disponíveis no Brasil</p>
        </div>

        {% if not object_list.count %}
        <div class="row">
            <div class="col-md-12">
                Infelizmente não encontramos um imóvel disponível. Retorne para a <a href="{% url 'home' %}">página inicial</a> e faça uma nova pesquisa.
            </div>
        </div>
        {% endif %}

        {% for real_estate in object_list %}
        <div class="row">
            <div class="row real-state-component">
                <div class="col-md-3 real-state-component-image-box">
                    <img class="pull-left" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                       alt="Generic placeholder image" width="200" height="200">
                </div>
                <div class="col-md-9 real-state-info">
                    <small class="text-muted">{{ real_estate.address.street }}, {{ real_estate.address.number }} - {{ real_estate.address.neighborhood }}, {{ real_estate.address.city }} - {{ real_estate.address.city.state }}</small>
                    <h4><b>{{ real_estate.title }}</b></h4>
                    <small class="pull-left">{{ real_estate.description | truncatechars:180}}</small>

                    <div class="row pull-left col-md-12 center-block real-state-details">
                        <div class="col-md-2 real-state-mini-info">
                            <div class="row text-center"><small><b>Área m²</b></small></div>
                            <div class="row text-center">{{ real_estate.area }}</div>
                        </div>

                        <div class="col-md-2 real-state-mini-info">
                            <div class="row text-center"><small><b>Quartos</b></small></div>
                            <div class="row text-center">{{ real_estate.numberOfRooms }}</div>
                        </div>

                        <div class="col-md-2 real-state-mini-info">
                            <div class="row text-center"><small><b>Suítes</b></small></div>
                            <div class="row text-center">{{ real_estate.numberOfSuites }}</div>
                        </div>

                        <div class="col-md-2 real-state-mini-info">
                            <div class="row text-center"><small><b>Banheiros</b></small></div>
                            <div class="row text-center">{{ real_estate.numberOfBathrooms }}</div>
                        </div>

                        <div class="col-md-2 real-state-mini-info">
                            <div class="row text-center"><small><b>Vagas</b></small></div>
                            <div class="row text-center">{{ real_estate.numberOfCarParks }}</div>
                        </div>
                    </div>

                    <div class="row pull-left">
                        <div class="col-md-12">
                            <a class="btn btn-warning btn-sm" href="#" role="button">Ver detalhes »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}