body {
    background-color: #efefef;
}

.contact-seller-box {
    margin-top: 20px;
    background-color: white;
    padding: 24px;
}

.contact-seller-box textarea {
    width: 238px;
}

.real-state-details {
    margin: 20px 0;
    padding-left: 0;
}

.real-state-price-details {
    margin-top: 25px;
    padding-left: 5px;
}

.recommentation-box {
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 30px;
}

.recommentation-box .real-state-info {
    margin-left: -20px;
}

.recommentation-box .real-state-recommendation {
    margin-bottom: 20px;
    background-color: white;
    padding-left: 0;
}

.recommentation-box .recommendation-see-more-box a {
    margin-top: 10px;

}