#search-box-home { margin-bottom: 80px; }
#search-box-home h1 { margin-bottom: 30px; }


.suggestions-row { margin-bottom: 40px; }
.want-box { margin-top: 50px; }
.featurette-divider { margin: 30px 0; }
.cities-row li { font-size: 18px; line-height: 2em; }